<nav>
    <table>
        <tr>
            <td><a href="{{ '/' | relative_url }}">Home</a></td>
            <td><a href="{{ '/projects' | relative_url }}">Projects</a></td>
            <td><a href="{{ '/about' | relative_url }}">About Me</a></td>
            <td><a href="{{ '/stream-assets' | relative_url }}">Stream Assets</a></td>
            <td><a href="{{ '/support' | relative_url }}">Support</a></td>
            <td><a href="{{ '/contact' | relative_url }}">Contact</a></td>
        </tr>
    </table>
</nav>
